/* Written by: Zach Zimbler */

/* 
 *   html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 *     v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
 *       html5doctor.com/html-5-reset-stylesheet/
 *       */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video {
	  margin:0;
	    padding:0;
		  border:0;
		    outline:0;
			  font-size:100%;
			    vertical-align:baseline;
				  background:transparent;
			  }                  

			  article, aside, figure, footer, header, 
			  hgroup, nav, section { display:block; }

			  nav ul { list-style:none; }

			  blockquote, q { quotes:none; }

			  blockquote:before, blockquote:after,
			  q:before, q:after { content:''; content:none; }

			  a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

			  ins { background-color:#ff9; color:#000; text-decoration:none; }

			  mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

			  del { text-decoration: line-through; }

			  abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }

			  /* tables still need cellspacing="0" in the markup */
			  table { border-collapse:collapse; border-spacing:0; }

			  hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

			  input, select { vertical-align:middle; }
			  /* END RESET CSS */
			
/* Website Styles */
body{
	background:url(../img/bg-content-1.png);
	font-family: 'Lobster Two', cursive;
}
/* Set the text weight */
h1,h2,h3,h4,h5,h6{
	font-weight:700;
	color:#cc4d23;
}
p{
	font-weight:400;
	color:#cc4d23;
}


#video-wrap{
}

#page-content{
	width:960px;
	margin:0 auto;
	padding-top:90px;
}

#page-content h3 {
	font-size:40px;
	text-align:center;
	line-height:0px;
}

#page-content p{
	text-align:center;
}

header[role="nav"]{
	width:100%;
	height:50px;
	background:yellow;
	position:fixed;
	top:20px;
}

#home-main-video{
	width:600px;
	margin:0 auto;
}

#logo{
	float:left;
}
#app-navigation{
	float:right;
}

#home-video-grid{
	width:600px;
	margin:0 auto;
}

#home-video-grid a img{
	padding:24px;

}
