<head>
	
	<title>HTML5 Canvas Editor Research</title>
	
	<style type="text/css">
		body    { background: #000; margin-left: 0; margin-right: 0; margin-top: 0; }
	</style>
	
	<script type="text/javascript" src="js/src/theme.js"></script>
	<script type="text/javascript" src="js/src/function.js"></script>
	<script type="text/javascript" src="js/src/browser.js"></script>
	<script type="text/javascript" src="js/src/connection.js"></script>
	<script type="text/javascript" src="js/src/segment.js"></script>
	<script type="text/javascript" src="js/src/player.js"></script>
	<script type="text/javascript" src="js/src/raphael.js"></script>
	<script type="text/javascript" src="js/src/setvideourl.js"></script>
	<script type="text/javascript" src="js/src/timedevent.js"></script>
	<script type="text/javascript" src="js/src/model.js"></script>
	<script type="text/javascript" src="../videos/demo4/data.js"></script>
	
	<script type="text/javascript">
		function document_load() {	// Setup editor
			var v = new Model();
		}
	</script>
	
</head>
<body onload="document_load();">
	<div id="controlOverlay" style="z-index:100;position:absolute;"></div>
</body>
